<section class="w-full h-auto max-h-[767px] rounded-lg shadow overflow-hidden">
  <div
    id="map-panzoom"
    #mapPanzoom
    class="w-full h-full relative"
    (contextmenu)="$event.preventDefault()"
  >
    <img
      src="/imgs/map.jpeg"
      alt="Mario Kart World Map"
      class="w-full h-full cursor-grab"
      [class.cursor-grabbing]="isPanning"
    />
    @for (
      collectibleChecklistModel of collectibleChecklistModels();
      track collectibleChecklistModel.index
    ) {
      <mkworld-collectible
        [checklistModel]="collectibleChecklistModel"
        [isPanning]="isPanning"
        [isFocused]="focusedCollectibleIndex() === collectibleChecklistModel.index"
      />
    }

    @if (activeTooltipData(); as tooltipData) {
      <div
        class="map-tooltip-container absolute z-20"
        [style.left.%]="activeTooltipData()!.collectibleModel!.xPercentage"
        [style.top.%]="activeTooltipData()!.collectibleModel!.yPercentage"
      >
        <div [style.transform]="tooltipTransform()">
          <mkworld-tooltip
            [checklistModel]="tooltipData"
            [position]="tooltipPosition()?.position ?? 'above'"
          />
        </div>
      </div>
    }
  </div>
</section>
