#map-panzoom {
  touch-action: none;
  -webkit-overflow-scrolling: touch;
}

.collectible {
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  animation: scaleIn 0.2s ease-out;
  transform: translate(-50%, -50%) scale(var(--target-scale));
  will-change: transform;
}

.collectible.collected {
  filter: grayscale(1);
}

.collectible.disappearing {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.collectible-img {
  user-select: none;
  pointer-events: none;
  object-fit: contain;
  max-height: 100%;
  display: block;
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(var(--target-scale));
  }
}
