<div class="tooltip" [class]="'tooltip-' + position()">
  <button
    class="close-button touch-manipulation"
    (click)="onClose()"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    aria-label="Close tooltip"
  >
    <span class="close-icon -mt-[3px]">×</span>
  </button>

  @if (hoveredPeachCoinSticker()) {
    <div
      class="rounded-full bg-gray-800 text-white p-2 absolute text-center peach-coin-sticker-tooltip"
    >
      <p>
        {{ 'MAP_SECTION.TOOLTIP.PEACH_COIN_STICKER_TOOLTIP' | translate }}
      </p>
    </div>
  }

  <div class="description-container">
    <div
      class="w-[32px] h-[32px] relative"
      (mouseenter)="onStickerHover(true)"
      (mouseleave)="onStickerHover(false)"
    >
      <img
        [ngSrc]="checklistModel().collectibleModel!.collectibleType === CollectibleType.PEACH_COIN ? '/imgs/stickers/random-sticker.webp' : `/imgs/stickers/sticker-${checklistModel().index}.webp`"
        [alt]="
          checklistModel().collectibleModel!.collectibleType === CollectibleType.PEACH_COIN
            ? 'STICKERS.SHARED.RANDOM_STICKER_ALT_TEXT'
            : ('STICKERS.' + checklistModel().stickerAltText | translate)
        "
        fill
        class="sticker-thumbnail"
      />
    </div>
    <p class="description">
      @switch (checklistModel().collectibleModel!.collectibleType) {
        @case (CollectibleType.PEACH_COIN) {
          {{ 'STICKERS.SHARED.PEACH_COIN_TOOLTIP' | translate }}
        }
        @case (CollectibleType.P_SWITCH) {
          {{ 'STICKERS.' + checklistModel().collectibleModel!.missionName | translate }}
        }
        @case (CollectibleType.QUESTIONMARK_PANEL) {
          {{ 'STICKERS.SHARED.QUESTIONMARK_PANEL_TOOLTIP' | translate }}
        }
      }
    </p>
  </div>

  <div class="hint-container">
    @if (checklistModel().collectibleModel!.youtubeId) {
      <iframe
        width="100%"
        [src]="youtubeLink()"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    } @else {
      <img
        width="100%"
        [ngSrc]="`/imgs/tooltips/IMAGE_${checklistModel().index}.webp`"
        [alt]="'MAP_SECTION.TOOLTIP.IMAGE_ALT_TEXT' | translate: { index: checklistModel().index }"
        width="536"
        height="300"
      />
    }
  </div>

  <p class="instruction">{{ 'STICKERS.' + checklistModel().instructions | translate }}</p>

  <button class="collect-button" [class.checked]="checklistModel().checked" (click)="onChecked()">
    <div class="checkbox">
      <div class="checkmark"></div>
    </div>
    <span>Collected</span>
  </button>
</div>
