<section class="w-full bg-white rounded-lg shadow p-4 flex flex-col items-center">
  <h2 class="text-xl font-bold mb-2">{{ 'TODO_LIST' | translate }}</h2>
  <ul class="w-full flex flex-col text-gray-700 todo-list">
    @if (uncollectedPeachCoins() > 0 || lastPeachCoinBeingRemoved()) {
      <li
        class="flex items-center gap-2 bg-gray-50 rounded p-2 shadow-sm todo-item"
        [class.removing]="lastPeachCoinBeingRemoved()"
      >
        <img src="imgs/peach-coin.png" alt="Peach Coin" class="w-8 h-8" />
        <span class="flex-1">Collect {{ uncollectedPeachCoins() }} Peach Coins</span>
      </li>
    }
    @if (uncollectedQuestionMarkPanels() > 0 || lastQuestionMarkPanelBeingRemoved()) {
      <li
        class="flex items-center gap-2 bg-gray-50 rounded p-2 shadow-sm todo-item"
        [class.removing]="lastQuestionMarkPanelBeingRemoved()"
      >
        <img src="imgs/questionmark-panel.png" alt="Questionmark Panel" class="w-8 h-8" />
        <span class="flex-1">Collect {{ uncollectedQuestionMarkPanels() }} ? Panels</span>
      </li>
    }
    @if (uncollectedPSwitches() > 0 || lastPSwitchBeingRemoved()) {
      <li
        class="flex items-center gap-2 bg-gray-50 rounded p-2 shadow-sm todo-item"
        [class.removing]="lastPSwitchBeingRemoved()"
      >
        <img src="imgs/p-switch.png" alt="P-Switch" class="w-8 h-8" />
        <span class="flex-1">Collect {{ uncollectedPSwitches() }} P-Switches</span>
      </li>
    }
    @for (item of todoItems(); track item.index) {
      <li
        class="flex items-center gap-2 bg-gray-50 rounded p-2 shadow-sm todo-item"
        [class.removing]="disappearingChecklistItems().has(item)"
      >
        <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">🎯</div>
        <span class="flex-1">{{ item.instructions }}</span>
      </li>
    }
  </ul>
</section>
