<mkworld-background-progress></mkworld-background-progress>

@if (isMobileView()) {
  <mkworld-header [isMobile]="isMobileView()"></mkworld-header>
}

<main class="flex flex-col lg:flex-row items-start justify-center gap-8">
  <div class="flex flex-col gap-8 max-w-6xl">
    <mkworld-sticker-album (scrollToMap)="onScrollToMap($event)"></mkworld-sticker-album>
    <mkworld-map-section id="map-section"></mkworld-map-section>
  </div>

  <div class="flex flex-col gap-8 max-w-lg">
    @if (!isMobileView()) {
      <mkworld-header [isMobile]="isMobileView()"></mkworld-header>
    }
    <mkworld-todo-section></mkworld-todo-section>
  </div>
</main>

<mkworld-footer></mkworld-footer>
