@import 'tailwindcss';

@font-face {
  font-family: 'RacersDelight';
  src: url('/fonts/RacersDelight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'RacersDelight', system-ui, sans-serif;
}

body {
  min-height: 100vh;
  color: #fff;
  font-family: system-ui, sans-serif;
  background: url('/imgs/wallpaper.webp') repeat;
  background-size: 50%;
  padding-top: 2rem;
}

h1,
h2,
h3 {
  color: #ff9900;
}

a {
  text-decoration: none;
}
